<html lang="zh-Hant">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
        integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
        crossorigin="" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../css/main.css" />
</head>

<body style="background-color: #1F2026;">
    <div id="map" class="map"></div>
    <div id="report_list" class="report_list">
        <div class="report" style="height: 90px;">
            <div style="width: 20%;">
                <div class="report_text" style="font-size: 65px;background-color: yellow;text-align: center;color: rgb(0, 0, 0);">4</div>
            </div>
            <div style="width: 80%;padding-left: 10px;">
                <div class="report_text" style="font-size: 27px;margin-top: 0px;">臺灣東部海域</div>
                <div class="report_text" style="font-size: 15px;">2023/01/06 01:11</div>
                <div class="report_text" style="font-size: 20px;">M 4.1         10Km</div>
            </div>
        </div>
    </div>
    <script src="../core/main.js"></script>
</body>

</html>